@page "/"
@inject IConfiguration Config

<PageTitle>Home</PageTitle>

<h1>Hello, YouTube !</h1>
<hr/>

<h4>
    Default Connection String: <span style="color:red">@defaultConnection</span>
</h4>
<hr/>
<p>
    This is deployed using GitHub Actions as demo  !
</p>


@code  
{
    //fields
    string defaultConnection = "";

    //lcm
    protected override void OnInitialized()
    {
        defaultConnection = Config.GetConnectionString("Default") ?? "unknown";


    }
}